body {
  background-image: url(./assets/blob1.png), url(./assets/blob2.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #293264;
}

.intro > h1 {
  font-size: 32px;
}

.intro > h3 {
  margin-top: 7px;
  font-size: 16px;
}

.intro--btn {
  background: #4D5B9E;
  color: #F5F7FB;
  margin-top: 29px;
  font-size: 16px;
  padding: 10px 50px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.question {
  padding-bottom: 10px;
  border-bottom: 1px solid #DBDEF0;
  margin-bottom: 15px;
}

.question > h2 {
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
}

.answers {
  display: flex;
  font-size: 10px;
  font-weight: 500;
}

.answers > button {
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  min-width: 65px;
  padding: 2px 15px;
  cursor: pointer;
  margin: 0px 10px 10px;
  background: transparent;
}

.answers > button:hover, .answers > button.picked {
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}